.score-list {
  padding-bottom: 10px;
  font-size: 18px;
}

.all-scores {
  margin: auto;
  display: block;
  width: 100%;
}

.score-list label {
  display: block;
}

.score-list-rank {
  float: left;
  padding-left: 75px;
}

.score-list-name {
  text-align: center;
  margin: auto;
  width: 150px;
}

.score-list-score {
  float: right;
  padding-right: 75px;
}

/*////////////////////*/

.new-score {
  display: none;
  text-align: center;
}

.score-label {
  padding-top: 5px;
  border-top: 1px solid #cacaca;
  font-size: 30px;
  padding: 10px 0;
}

.name {
  padding: 15px;
  float: left;
  width: 40%;
}

.name input {
  font-size: 20px;
  text-align: center;
}

.saving-score {
  padding: 15px;
  width: 40%;
  float: right;
}

.saving-score input {
  font-size: 20px;
  text-align: center;
  border: none;
}

.submit-score {
  width: 100px;
  margin: auto;
  padding-top: 50px;
}

.submit-score input {
  padding: 5px;
  text-align: center;
  font-size: 12px;
  border-radius: 5px;
  background: white;
}
